[2021-12-23 12:07] maxandersen opened #1 "run overrules standard java debug/run tests"
after installing jbang all my normal java runs are overruled. i.e. when trying to run junit test method it runs it as a jbang instead of normal java.

should not overrule normal java actions IMO. should be an option.

[2021-12-23 12:10] maxandersen commented on #1
ah - issue is that https://github.com/jbangdev/jbang-idea/blob/1dc95f5cd90e2f5e9c975b1047d63fb8861991c4/src/main/kotlin/dev/jbang/intellij/plugins/jbang/run/JbangRunConfigurationProducer.kt#L31 assumes "//DEPS" can occur anywhere - it should only be if on beginning of a line. regexp match "^//DEPS.*"

[2021-12-24 02:35] linux-china commented on #1
How about following code?

[code]

Regex is not performance well for long text.

[2021-12-24 02:43] linux-china opened #2 "Add groovy library for JBang Groovy Script automatically"
Now if you create JBang groovy script, and IDEA will ask you to create Groovy library to Groovy Script.

Adjusting:

*  check groovy library available during JBang groovy script creation
* if no groovy library found, create default groovy library for Groovy script

Issues:
* How to change Groovy library version if Groovy script uses new version with `//GROOVY 4.0.0`
* Different Groovy scripts use

[2021-12-24 06:17] linux-china opened #3 "Sync dependencies between build.gradle and JBang script"
In edit mode, some developers add dependencies in build.gradle for code completion etc.   Finally they should copy dependencies to JBang script with `//DEPS ` directive.   Introduce a shortcut to sync dependencies from Gradle to JBang script with `//DEPS` filled.

Reverse flow should be considered too.  Introduce intention action for `//DEPS ` and add dependency to build.gradle.  With Github Copil

[2021-12-24 08:31] maxandersen commented on #1
I don't think regex of the type just checking start of line is much slower than checking a string contains something.

But anyhow - thinking about this we don't really want the existing ones for java to disappear as it's still very feasible to run/debug the file directly.

Can we just add to list of existing one (run,debug, etc) without removing them ?

[2021-12-24 08:39] linux-china commented on #1
Yes, you can.  Now run by JBang is the first option, and you can run it as Normal Java class from `More Run/Debug`.   You should right click outside of class.  It's some tricky and maybe it's bug of IntelliJ IDEA.  I will submit an issue to check.

<img width="1129" alt="Screen Shot 2021-12-24 at 12 34 03 AM" src="https://user-images.githubusercontent.com/46711/147335102-20863c55-ea8e-4509-823c-ab

[2021-12-26 00:02] maxandersen commented on #3
this is not something that should be done by jbang idea plugin imo - at least not in its final form. users should not be encouraged to edit build.gradle when using jbang - build.gradle is to be treated as purely temporary intermediate format
as jbang edit will regenerate build.gradle anyway.

we have prs/issues that suggest to add deps.txt as a more centralized location if that is a problem.

[2021-12-26 00:03] maxandersen commented on #2
this is not something a ide plugin shoould do. how do I repdocue this issue of intellji complaining about creating groovy library?

[2021-12-26 00:04] maxandersen commented on #1
no way to make jbang show up in more run/debug instead of "overtaking" the UI ?

[2021-12-26 00:08] maxandersen opened #4 "move json schema to main repo"
I think https://github.com/jbangdev/jbang-idea/blob/main/src/main/resources/jbang-catalog-schema.json should be in the main repo and published to schemastore.org so it works for other IDE's json editors not just jbang-idea.

[2021-12-26 02:44] linux-china commented on #3
@maxandersen   I have implemented this feature in 0.3.0 version.   Sync Dependencies Action: right click script file and sync dependencies between JBang and Gradle.     `//DEPS` to `implementation` or  `implementation to //DEPS` .

<img width="736" alt="Screen Shot 2021-12-25 at 6 41 07 PM" src="https://user-images.githubusercontent.com/46711/147397621-24a33510-4594-48ac-a73e-49f1d6ffa36e.png">

[2021-12-26 03:06] linux-china commented on #1
Another options is to use external tools in IDEA. External tool will not modify anything to `Run Configurations` and nothing changed to editor popup menu.  Just add JBang under `External Tools`, and of course you can assign shortcut for it.

<img width="955" alt="Screen Shot 2021-12-25 at 7 01 47 PM" src="https://user-images.githubusercontent.com/46711/147397887-5258eaea-4308-4e51-9d98-96208e76496

[2021-12-26 03:13] linux-china commented on #4
Yes, I think it's better to move it to jbang.dev repo, and all editors can use this schema file from  http://jbang.dev/schema.json  for code completion.

[2021-12-26 03:16] linux-china commented on #2
This feature is not necessary because dependencies synced between JBang and Gradle  ready now.

[2021-12-26 06:39] linux-china commented on #1
One more options:  if right click in JBang directives, and JBang will be first run option,  and native run configuration will be first in other location.

[2021-12-26 18:28] maxandersen commented on #2
How does it solve that?

[2021-12-26 18:37] maxandersen commented on #3
I really don't think this is right. Sure it's a nice feature but we should NOT assume build.gradle even exist.

[2021-12-26 18:59] linux-china commented on #2
After developer clicks `Sync Dependencies` for Groovy script, and the action will add `org.codehaus.groovy:groovy:version` to build.gradle,  then reload Gradle and groovy library will be available.

[2021-12-26 19:01] linux-china commented on #3
If build.gradle not found, and `Sync JBang DEPS` will not available.

[2021-12-26 19:13] maxandersen commented on #2
Why are those dependencies not in the build.gradle to begin with ? Is jbang edit not putting it there or ?

[2021-12-26 19:17] linux-china commented on #2
Yes,   if  `jbang edit --open=idea hello.groovy`  adds `org.codehaus.groovy:groovy:version`  in build.gradle, and it will be good.

[2021-12-27 00:54] linux-china commented on #3
Sync DEPS as IDEA module's libraries when using `idea .` to open JBang project without build.gradle

[2021-12-27 07:27] maxandersen commented on #3
I'm concerned whatever this sync does it gets out of sync (no pun intended :) with how jbang edit works; especially upcoming jbang edit . (see https://github.com/jbangdev/jbang/pull/1042).

p.s. could we move to use pull-request before pushing to main - would be great to learn a bit more on how idea plugins evolves and pull-requests lets one see that vs raw push to main - even if pushed more or le

[2021-12-28 10:45] maxandersen opened #5 "jbang script template fails"
[code]

[2021-12-28 10:48] maxandersen opened #6 "dont have separate jbang script vs jbang script with template"
These should just be one afaics.

have the simple script popup be populated with the template names ?
if missing some for jshell we can add them.

[2021-12-28 11:06] maxandersen opened #7 "sync to gradle causes duplication of dependencies if deps not found"
I had this in my jbang file:

``
//DEPS info.picocli:picocli:4.5.0
[code]
//DEPS info.picocli:picocli:4.5.7
[code]
//DEPS info.picocli:picocli:4.5.0
//DEPS info.picocli:picocli:4.5.7
[code]
	implementation 'info.picocli:picocli:4.5.0'
  implementation  'info.picocli:picocli:4.5.7'
[code]

[2021-12-28 11:07] maxandersen commented on #7
actually happens for any kind of edit and no option for  undo.

[2021-12-28 11:16] maxandersen opened #8 "sync to gradle does not honor/understand property replacements"
Have somethiung like:

[code]
and jbang idea does not resolve ${os.detected.jfxname}

I really do not think it is a good idea jbang-idea tries to duplicate jbang's logic.

why not just run jbang edit command and it is synced properly ?
or at least use `jbang info tools` to get the *right* set of dependencies?

[2021-12-28 20:22] linux-china commented on #7
yes, it's a bug

[2021-12-28 20:27] linux-china commented on #5
Yes, this is a bug caused by IDEA's classloader.    IDEA has its thread model and classloader, and  `Thread.currentThread().getContextClassLoader()` could not load resources correctly in IDEA.

[code]

[2021-12-28 20:38] linux-china opened #9 "Bundle jbang.jar into plugin"
If plugin bundles with jbang.jar and plugin can call JBang functions by API directly,  just like JetBrains Maven plugin, for example dependencies resolve, templates, script creation directly from API, not from command line.   Not sure Jbang can be used as embed mode.

One issue here:  IDEA's classloader is different with JBang's classloader.     #5

[2021-12-28 20:43] #2 closed

[2021-12-28 22:27] maxandersen commented on #2
No. Jbang exit Wont add it. Did You mean jbang init ?

[2021-12-28 22:29] maxandersen commented on #9
No. Please do not do This at This stage. Use users installed jbang so users are not locked to whatever version is embedded in their IDE.

[2021-12-28 22:31] maxandersen commented on #5
Please dont load jbang as a jar. Maybe in future but do not do that. Just call out to it as a cli tool.

[2021-12-29 00:58] linux-china commented on #5
Fixed.  jbang.jar removed and templates retrieve by CLI

[2021-12-29 00:58] #5 closed

[2021-12-29 00:58] linux-china commented on #9
jbang.jar bundle removed

[2021-12-29 00:58] #9 closed

[2021-12-29 01:00] linux-china commented on #7
Dependency logic adjusted to one way:  sync gradle to `//DEPS` or `//DEPS` to gradle.   Version conflict   resolved

[2021-12-29 01:00] #7 closed

[2021-12-29 02:59] linux-china commented on #2
Now the developers just right click the groovy script and choose `Sync DEPS to Gradle` and plugin will sync groovy artifact to Gradle then Groovy library will be created from Gradle.

![Screen Shot 2021-12-28 at 6 55 51 PM](https://user-images.githubusercontent.com/46711/147623202-73f730ba-48b1-46e9-98c9-d7f24a5aa8a6.png)

[2021-12-29 04:22] maxandersen commented on #2
Eh? Sync deps will add dependencies that does not exist ? I assume you mean it will sync it if they are present in the file ?

[2021-12-29 04:23] maxandersen commented on #5
Awesome!

[2021-12-29 04:45] linux-china commented on #2
The plugin can detect that no DEPS related with Groovy script and no groovy related dependencies for module, we have some ways to help developers:

* warning:  you should add `org.codehaus.groovy:groovy:3.0.9`  by hand
* add `//DEPS org.codehaus.groovy:groovy:3.0.9` to code automatically

In IDEA Inspection almost with a quick fix, and what's your suggestion?

[2021-12-29 05:05] linux-china commented on #8
Fixed. Now the dependencies resolved by CLI `jbang info tools hello.java`

[2021-12-29 05:05] #8 closed

[2021-12-29 05:23] maxandersen commented on #2
I think its fine to provide quick fixes/warnings that are helpful.

Adding dependencies automagically into the dependencies when run inside IntelliJ *differently* from how jbang would run it would be a big no-no. We should ensure things runs in a consistent same way.

If the sync adds dependencies which then at least are in the script file the behaviors will at least be the same when running - but

[2021-12-29 06:11] maxandersen opened #10 "sync with IDE breaks"
have a .jsh file that when using sync with jbang gives me this error:

[code]

[2021-12-29 20:25] linux-china commented on #10
`jbang info tools demo.jsh` failed.

demo.jsh code as following:

[code]

then invoke `jbang info tools --verbose demo.jsh`  and with following exception:

[code]

I will add exception handler before json parsing.

[2021-12-29 20:52] linux-china opened #12 "package search integration"
Code completion for GAV and  hint for new version available

[code]

[2021-12-29 20:57] linux-china opened #13 "JBang tool window"
The tool window includes  a panel to display ScriptInfo for JBang script and a button group.

button group:

* run button
* sync dependencies buttons:  sync to gradle, sync from gradle, sync to module
* invalid script cache
* export button

[2021-12-29 21:20] maxandersen commented on #12
You mean artifact search I assume ? That would be cool.

[2021-12-29 21:20] maxandersen commented on #13
If that can work even when project has no java info that would be awesome.

[2021-12-29 21:21] maxandersen commented on #13
What is "invalid script cache" ? clearing cache ?

[2021-12-29 21:27] linux-china commented on #13
is it necessary?   Some developers worry about local scripts with sensitive  data.

[2021-12-29 21:34] linux-china commented on #13
I have no idea about new JBang script from tool window,  for example if developers click new script button from tool window in any project, and JBang plugin will setup a new IDEA module for the script and developers can edit script immediately with code completion.

It's like Scratch files, but some different.

[2021-12-29 21:37] maxandersen opened #14 "use jbang templates catalogs instead of plugin custom templates"
I see more and more templates added to this plugin - that undermines the whole notion of jbang templates and catalogs.

We should remove the idea specific templates and use jbang already existing templates and catalogs mechanism that is made to support these things.

[2021-12-29 22:40] maxandersen commented on #13
I don't understand your question ...I'm asking if you by "invalid script cache" refer to the `jbang cache clear` command or something else ?

[2021-12-29 23:06] linux-china commented on #13
For example.  I have a HelloWorld.java then I use `jbang run HelloWorld.java` to run the script.  After run JBang will generate a jar file `/Users/username/.jbang/cache/jars/HelloWorld.java.c563d28e87f5d2c3b493ac303c00d9d0abc9e19eb41b6d6dc410596fa3eea5c5.jar` and cached by JBang.  Some developers want to delete files related with this script because of some sensitive info in the jar.

[2021-12-29 23:19] maxandersen commented on #13
Yes. So that is what jbang cache clear does.

[2021-12-30 03:19] linux-china commented on #14
Now `JBang Script` uses JBang templates now.   Developers can create their file templates for JBang in IDEA if they would like to do.

[2021-12-30 03:20] linux-china commented on #6
Fixed by #14

[2021-12-30 03:20] #6 closed

[2021-12-30 03:32] linux-china commented on #1
@maxandersen  How about new implementation?

Right Click in JBang directives area, then you can choose `Run Hello.java by JBang`:

<img width="678" alt="Screen Shot 2021-12-29 at 7 26 39 PM" src="https://user-images.githubusercontent.com/46711/147719358-4a49aeb6-a686-4e2c-9a9c-75257ff37caf.png">

In other area,  `Run by JBang` will be disabled and only run normal Java class available.

<img width=

[2021-12-30 07:46] maxandersen commented on #1
I think that makes sense as it's more the file you run than the class.

Maybe also recognize //DEPS and //JAVA in beginning of line as the /// marker is not a hard requirement?

[2021-12-30 08:42] maxandersen commented on #14
https://github.com/jbangdev/jbang-idea/tree/main/src/main/resources/fileTemplates/internal still has templates present that we can't/should maintain.

[2021-12-30 09:00] maxandersen opened #17 "create jbang should let user specify template"
currently jbang create action takes out put of `jbang template list` and show to user (which is great) but
should also be possible to enter in template name to allow to mimick what `jbang init -t junit@jbangdev file` would do.

i.e. here jbang will go and look up junit@jbangdev outside templates that jbang template list will show.

[2021-12-30 16:15] linux-china commented on #14
Clean done.

[2021-12-30 16:15] #14 closed

[2021-12-30 16:39] linux-china commented on #1
line marker adjusted:

* icon for `///usr/bin/env jbang ` if available
* Icon for `//JAVA` if `///usr/bin/env jbang ` absent
* Icon for first `//DEPS ` if `///usr/bin/env jbang ` and `//JAVA`  absent

[2022-01-05 00:36] linux-china commented on #17
How about `jbang template list --catalogs`  to list templates from local catalogs?

* built-in templates by `jbang template list`
* user specified templates by `jbang template list --catalogs`

I can add a checkbox to list more templates from catalogs, then developers can choose more templates to create app.

[2022-01-05 01:38] maxandersen commented on #17
Not following what you want here? You don't want to show user configured templates by default?

[2022-01-05 02:06] linux-china commented on #17
Which one is better to you?  Input or Dropbox?   Almost most developers don't like to input because it's easy to make mistake when template name is some long.   If they choose to copy template name, and almost they will choose CLI because instructions to create app from template  are almost there.

![image](https://user-images.githubusercontent.com/46711/148148753-25169b30-c802-4780-b9ba-a4a526bfc

[2022-01-05 02:33] linux-china commented on #17
I will use JList with input support, and developers can input the template template too.  :)

[2022-01-06 23:46] linux-china opened #18 "JBang Project Wizard"
Create JBang app from Project Wizard.

Features:

* Create JBang project from user defined template
* Setup IDEA project automatically

https://plugins.jetbrains.com/docs/intellij/project-wizard.html

[2022-01-07 05:55] maxandersen commented on #18
This would use the same as used in create script but use it to create a project not just a file?

[2022-01-07 17:42] linux-china commented on #18
Yes, create a new project from JBang template.

[2022-01-17 22:13] #10 closed

[2022-01-18 01:10] linux-china commented on #18
Reuse JavaModuleBuilder, and developers can choose Groovy, Kotlin languages, then the plugin create script file according developers' choice, for example Hello.java, Hello.groovy or Hello.kt

<img width="767" alt="Screen Shot 2022-01-17 at 5 08 24 PM" src="https://user-images.githubusercontent.com/46711/149853579-e4105ddd-3623-4689-9096-fb54a07cb919.png">

[2022-01-18 09:04] maxandersen commented on #18
Shouldn't it show/allow jbang templates ?

[2022-01-18 09:23] linux-china commented on #18
I will implement this feature later because of custom UI builder.

[2022-01-18 21:41] nandorholozsnyak opened #19 "IDEA Freezes on Sync"
I really like the JBang IDEA plugin, but sometimes it literally just kills IDEA. On Windows I experience this bug more than on Linux (Pop OS).  I would say I experience these issues when the script is having a lot of dependencies or all the dependencies are not on the system so it should be downloaded.

Is there any way to make it somehow async like the indexing in IDEA, it is just a progress bar

[2022-01-19 18:16] linux-china commented on #19
Yes,  it's a known problem,  especially lots of dependencies and dependencies not in your local maven repository.  Now the plugin calls `jbang info tools Hello.java` command line(ProgressBuilder)  to get dependencies  information, and I will fix it later.

[2022-01-19 21:58] nandorholozsnyak commented on #19
Cool, thank you!

[2022-01-19 23:30] maxandersen opened #20 "get credentials moved to jbangdev so we can automate publish"
we should get jbang plugin permissions assigned to jbangdev org and setup publishing and announcement similar to everything else.

@linux-china did you get message back from intellij ?

[2022-01-19 23:33] maxandersen opened #21 "create jbang script ux issues"
1) cannot select location of the script
2) defaults to agent where it should default to empty or hello
3) the generated script is not opened so tricky to find in larger projects

[2022-01-20 00:16] maxandersen opened #23 "builds been failing since 0.9"
all pr builds and ci builds https://github.com/jbangdev/jbang-idea/actions are failing as not releasing using the approach outlined in the plugin template.

MEaning impossible to submit pull requests and know if tests  passes and the release setup is non-reproducible.

lets please fix this and stop doing it manually which only one person can do.

[2022-01-20 03:39] linux-china commented on #20
@maxandersen  confirm the  account name, is it `jbangdev`, right?   I'm in jetbrains plugin slack group, and I will communicate with Natalia Melnikova.  I think she can help us to transfer the plugin.

[2022-01-20 07:57] maxandersen commented on #20
yes, you are member of it at https://plugins.jetbrains.com/organizations/jbangdev

as I understand it you should be able to just edit/move the plugin to it.

[2022-01-23 09:15] maxandersen opened #26 "//DEPS content assist not working unless I do content assist in a build.gradle first"
I cannot get  //DEPS to content assist unless I have used content assist in build.gradle or pom.xml first.

As if index search not fully enabled without it ?

[2022-01-23 09:20] maxandersen opened #27 "//DEPS content assist should include version"
default code completion is not including version meaning it will fail (unless you have a @pom import that manages it).

any reason why the default content assist don't add latest version ?

i.e. instead of:
[code]
you get
[code]

[2022-01-23 22:33] linux-china commented on #26
repository-search plugin is independent  https://github.com/JetBrains/intellij-community/blob/master/plugins/repository-search/src/main/resources/META-INF/plugin.xml

It can work with none maven/gradle projects, and it works well with normal idea project.

<img width="1235" alt="Screen Shot 2022-01-23 at 2 17 46 PM" src="https://user-images.githubusercontent.com/46711/150700193-bf1ebe7c-c407-44e6-

[2022-01-23 22:41] linux-china commented on #27
Yes, it could.   I added version for code completion.

[code]

screenshot:

<img width="737" alt="Screen Shot 2022-01-23 at 2 40 19 PM" src="https://user-images.githubusercontent.com/46711/150700912-4ed59148-29af-4009-aa70-426c519ac72e.png">

[2022-01-23 22:44] linux-china commented on #20
Communication with Natalia Melnikova already, and waiting for her feedback.

[2022-01-23 22:48] linux-china commented on #23
Fixed. Suppress the MISSING_DEPENDENCIES now.

[2022-01-23 22:48] #23 closed

[2022-01-23 23:44] linux-china commented on #21
Now it's some hard because JBang scripts were created by CLI, and lots of work for IDEA.

* Start the process
* Wait for files notification
* Reload from disk
* Scan the directory to get file list

My suggestion is to put some JBang templates under `fileTemplates/internal` directory and bundle into  jbang.jar file, then plugin include this jar file, then just call following API, that's all.

[code

[2022-01-24 03:01] maxandersen commented on #21
Not seeing that as a lot of work for the plug-in. It just need to run async via invoke later and we can add better output to jbang if necessary.

What is worse will be if jbang idea now starts having its own set of templates and have to be maintained. That is a lot more work imo.

[2022-01-24 03:04] maxandersen commented on #26
What does that mean ? That it works for you?

It doesn't for me. There is no content assist to start Afaics.

[2022-01-26 18:12] linux-china commented on #20
@maxandersen  Transfered to jbangdev account, please check.

[2022-01-27 08:13] maxandersen commented on #20
I see it! Great! Thanks.

next to get keys etc. setup for publish on tag/release build. I'll try take a look later today.

[2022-01-27 23:16] maxandersen opened #30 "sync jars does not pick up changes made to file"
I start with afile with:

[code]

I run sync and get picocli in dependencies. Great!

if I then add dependency:

[code]

and run sync again it keeps just adding picocli.

even delete all deps and it still add it.

so somehow it does not get dependencies correcly.

[2022-01-27 23:17] maxandersen commented on #30
p.s. restarting idea or reopen project sync works. So some kind of state is not updated right.

[2022-01-27 23:18] maxandersen commented on #20
this is now setup  - automatic draft release for commits to main and when release ready just release draft release.

no human intervention necessary.

[2022-01-27 23:36] linux-china commented on #20
@maxandersen

How about release on tags?

[code]

[2022-01-27 23:49] #20 closed

[2022-01-29 00:03] maxandersen commented on #30
found the culprit - jetbrains save on focus change thus if you don't click into another file or view the content of file is not changed thus when jbang runs it can't yet see the files changes.

We should ensure that the files being editr
are actually saved before trying to calculate dependencies.

[2022-01-30 00:19] maxandersen commented on #26
figured out what is/was wrong. I assumed the content assist would show up automatically - it only happens when expliclty doing basic autocomplete using alt+space.

[2022-01-30 00:19] #26 closed

[2022-02-06 14:45] nandorholozsnyak opened #34 "IDEA freezes completely on Windows when syncing DEPS"
So when I try to sync some JBang script's dependencies in IDEA with the `Sync JBang DEPS to Module` the whole IDE freezes and I have to force shutdown it. It happens only on Windows for me.

JBang version: `0.88.0`
JBang IDEA plugin version: `0.15.0`
IDEA version: `IntelliJ IDEA 2021.3.2 Build #IU-213.6777.52, built on January 28, 2022` but if I remember well it happened on earlier IDEA version as

[2022-02-06 15:01] maxandersen commented on #34
Yeah. At the moment the action is blocking where it should be async + show output.

But weird it never completes though. It should.

[2022-02-06 15:46] nandorholozsnyak commented on #34
Yeah I know, it is this: https://github.com/jbangdev/jbang-idea/issues/19

But this newly opened is never ending, makes the IDE fully blocked and I have to close it from the Task Manager.

[2022-02-06 20:50] nandorholozsnyak commented on #34
@linux-china do you have an idea what could cause it?

[2022-02-06 21:39] linux-china commented on #34
@nandorholozsnyak  I will take a look.   It happened sometime, right?    Sometime success and sometime fail.

[2022-02-06 21:53] nandorholozsnyak commented on #34
Always fails. I mean, always kills the IDEA. I have to shutdown it from the Task Manager.

[2022-02-06 22:09] linux-china commented on #34
@nandorholozsnyak  could you do me a favor?  Run following code on your laptop.

[code]

If possible, could you change JAVA_HOME to  jbr directory of IDEA_DIR and test again?

[2022-02-06 22:25] nandorholozsnyak commented on #34
Hey @linux-china,

First run without setting the JAVA_HOME to jbr:
[code]

After setting the JAVA_HOME and PATH to the jbr.

[code]

Prompt comes back, nothing is being blocked.

[2022-02-06 22:27] linux-china commented on #34
@maxandersen Got.  I will find a Windows laptop to test it later, thanks for your help.

[2022-02-06 22:38] nandorholozsnyak commented on #34
Right now I'm experiencing with the script that is freezing always, and I think it only freezes with just this one specific script, I'm experimenting with the deps now, I'm assuming maybe the @pom directive kills it or the Quarkus deps, IDK yet. Here are the an example script that kills the IDEA on sync.

[code]

[2022-02-06 22:46] nandorholozsnyak commented on #34
I do not really understand, if any of the Quarkus dependencies are in the list, with the BOM without version, or without the BOM and with version, IDEA freezes and that is all, without the Quarkus dependencies, only wiht the commons-io:commons-io:2.11.0 dependency the dependencies got synced.

[2022-02-06 23:43] linux-china commented on #34
@maxandersen   your sync operation  is to gradle or IDEA module?

It works on my mac laptop with sync to IDEA module.

![image](https://user-images.githubusercontent.com/46711/152706596-f81814ed-88d3-43ba-affb-0cb6a5c8a70a.png)

[2022-02-07 07:21] nandorholozsnyak commented on #34
And on Linux too. But on Windows there are some problem with that. :/

[2022-02-07 11:31] maxandersen commented on #34
There are two issues here:

1) jbang plug-in runs it's jbang process executions in the main event loop blocking everything. It should not do that. Any failure Or long time processing a jbang call can do should not block the ide. No matter which OS.

2) figure out why when jbang called from IntelliJ is sometimes stuck.

[2022-02-07 11:58] nandorholozsnyak commented on #34
The most interesting stuff is that it happens only with Quarkus dependencies... I will do some other tests and will let you know about the results.

[2022-02-07 11:59] maxandersen commented on #34
@nandorholozsnyak what version of jbang are you running ? what does `jbang version` give you ?

[2022-02-07 12:04] maxandersen commented on #34
I have a theory that the issue is that under windows the `jbang info classpath` somehow does not close the streams properly and thus java keeps waiting for the process.

I've seen that before in other cases dealing with java process launch.
Why it happens only for Quarkus dependencies I'm not sure about - my guess will be that it has enough dependencies to trigger a flush() that you would not see

[2022-02-07 12:08] maxandersen commented on #34
...weird though why it freezes for you inside idea but not when running the "launch jbang" script @linux-china provided....could it be a JVM difference? like intellij runs with a different jvm than the one you use on the command line?

[2022-02-07 12:58] nandorholozsnyak commented on #34
JBang version: 0.88.0

[2022-02-07 12:58] nandorholozsnyak commented on #34
JBang version: 0.88.0

[2022-02-07 13:01] quintesse commented on #34
I'm able to reproduce on the command line using what @nandorholozsnyak mentioned earlier:

[2022-02-07 13:20] quintesse commented on #34
It must by an IO problem because adding `pb.inheritIO()` to [the code above](https://github.com/jbangdev/jbang-idea/issues/34#issuecomment-1030924799) fixes the hang.

[2022-02-07 16:21] nandorholozsnyak commented on #34
It works with the `pb.inheritIO()` with the script mentioned above . Would it make sense to put it into the JbangCli.kt too? Could it be marked as some fix or just a workaround?

[2022-02-07 16:43] linux-china commented on #34
@maxandersen  I added  pb.inheritIO() to JbangCli.kt, and could you test it with new version?

[jbang-idea-plugin-0.15.1.zip](https://github.com/jbangdev/jbang-idea/files/8017052/jbang-idea-plugin-0.15.1.zip)

[2022-02-07 18:04] maxandersen commented on #34
The key is in what @quintesse references. We should be pumping stdin/out during run.

I have had this issue with karate test suite. Failed on windows at different times because the stdin/out was not emptied properly.

There must be a way in IntelliJ where they have mechanics to process the input/output.

[2022-02-07 18:06] maxandersen commented on #34
And yes ztexec does this right.

[2022-02-07 19:32] linux-china commented on #34
@nandorholozsnyak  I  built a new version with zt-exec, and could you try it on your script?

[jbang-idea-plugin-0.15.1.zip](https://github.com/jbangdev/jbang-idea/files/8018130/jbang-idea-plugin-0.15.1.zip)

[2022-02-07 20:03] nandorholozsnyak commented on #34
@linux-china
Look better, IDEA does not freeze, BUT! The jbang dependency for the module is not being created.
![image](https://user-images.githubusercontent.com/11406183/152862741-ea4388f2-698d-429c-b4b1-9d122f05f763.png)

 If yes (I have to do the Sync action a few times), then all the path is wrong.

![image](https://user-images.githubusercontent.com/11406183/152862813-5ae0b3e5-a169-4285-9d5d-2

[2022-02-07 20:44] nandorholozsnyak commented on #34
I'm here to test ;)

[2022-02-07 20:53] nandorholozsnyak commented on #34
@linux-china so much better!

I cleared my Quarkus dependencies from my laptop, took a few seconds to download them, but it is working. Any plan for the UI blocking? Could it done  in background somehow?

![image](https://user-images.githubusercontent.com/11406183/152870129-d1345d45-ff36-4d28-b806-1b48ae99e10a.png)

[2022-02-07 23:01] linux-china commented on #34
@nandorholozsnyak   Introduce ProgressManager and Task.Backgroundable to sync dependencies asynchronously.  If all good after your trial, and I will release new version.

![Snip20220207_74](https://user-images.githubusercontent.com/46711/152886461-7334d3b3-dc1a-438f-8e5b-7f48dee6f6d5.png)

[jbang-idea-plugin-0.16.0.zip](https://github.com/jbangdev/jbang-idea/files/8019320/jbang-idea-plugin-0.16.0.

[2022-02-08 06:16] nandorholozsnyak commented on #34
@linux-china works like charm. Superb enhancement! Good job.

[2022-02-08 07:46] linux-china commented on #19
Fixed with 0.16.0

[2022-02-08 07:46] #19 closed

[2022-02-08 07:46] #34 closed

[2022-02-08 07:48] linux-china commented on #13
JBang ToolWindow listener added: refresh JBang script info when the toolwindow clicked.

[2022-02-08 07:49] linux-china commented on #12
Implemented with version 0.11.0

[2022-02-08 07:49] #12 closed

[2022-02-08 07:51] #1 closed

[2022-02-08 07:56] linux-china commented on #4
@maxandersen  could you make a review for  https://github.com/jbangdev/jbang-idea/blob/main/src/main/resources/jbang-catalog-schema.json  then we can submit a PR to https://github.com/SchemaStore/schemastore

[2022-02-08 07:58] #27 closed

[2022-02-08 15:31] maxandersen commented on #4
Open the pr on jbang then we'll get that reviewed. I don't expect an issue.

[2022-02-09 20:58] linux-china commented on #21
Refresh the dest directory synchronously and open all new files now.  It may be blocked for a while if dest directory contains lots of files.

[code]

[2022-02-09 21:25] linux-china commented on #3
Gradle project models for dependencies sync :

* JBang script as standalone module:   good for mutli-module project

settings.gradle
[code]

* JBang script as sourceset:   single-module project

[code]

[2022-02-09 23:18] maxandersen commented on #3
I really do not think the same action should be used to sync from build.gralde to java file and the java file to idea library. It's not symmetrical actions.

[2022-02-09 23:40] linux-china commented on #3
I agree, too complicated for developers.   What's your suggestion? just to keep DEPS to idea module in IDE?

If developers want to generate build.gradle, and it's easy with following command.

[code]

I think build.gradle to DEPS not necessary, and I can remove these code.

[2022-02-10 08:41] maxandersen commented on #3
the feature is interesting (similar could be done for maven) but should be in separate actions. so if interested in tuning that keep it in a separate action "Sync JBang with Gradle" or similar.

Also perfectly fine dropping it for now as we have no tests and there are so many edge cases I fear its going to be a nightmare to maintain.

[2022-02-10 11:07] maxandersen opened #36 "move to "Require a pull request before merging""
I plan to enable "Require a pull request before merging" o this repo similar to what we have elsewhere.

This enables collaboration and feedback with all builds passing as doing it on direct commits is just not possible.

For now I don't add required checks / approvals. Just a pull  request so its more visible.

[2022-02-10 11:07] maxandersen commented on #36
@linux-china , works for you ?

[2022-02-11 07:06] maxandersen commented on #21
Opening all new files is not a good approach IMO.

Just search for the file name given to the init; if found open if not select new files but don't open. Then you avoid any blocking operations.

[2022-02-11 07:25] maxandersen commented on #36
Yes, please use it as we seem to break tests/builds often and with this we avoid getting that into main.

I’ve enabled required pullrequest now for main with the only check being that builds passes. If there are issues let me know and we can adjust as needed.

[2022-02-11 07:25] #36 closed

[2022-02-11 21:31] linux-china commented on #21
@maxandersen  a question,  developers can use JBang to generate mulit files,  and input name just part of file names.  For example:

[code]

If you input  `MyApp.java` and no real file generated in this case.

[2022-02-12 00:25] maxandersen commented on #21
But not expected to have multiple files open. Annoying to users having to close what they don't need open.

[2022-02-12 01:50] linux-china commented on #21
Got. I will modify the logic and only open one  new file by ext name match, and just let developers know that JBang script files have been created successfully.

[2022-02-13 17:46] linux-china opened #38 "code completion for //SOURCES"
If Java file name is too long, and it's hard to input.

[2022-02-22 22:34] maxandersen commented on #38
fixed.

[2022-02-22 22:34] #38 closed

[2022-03-08 15:07] maxandersen opened #42 "jbang module dependencies ends up on test classpath when file is named Test.java"
not sure why but if I create a file called myTest.java the dependencies gets added to a "jbangTest" classpath even though the file is in the main source folder causing it to not compile.

[2022-03-14 14:01] nandorholozsnyak opened #43 "Using templates in new module creation"
I've been using JBang for some lambda functions and I'm always creating different modules for each different lambda function, they are not dependending on each other but it is good to make sure they are well organized.

I'm just thinking if it is available to have a template selector in the new module window?
![image](https://user-images.githubusercontent.com/11406183/158187426-e79b450f-ab25-4de6-

[2022-03-14 14:06] nandorholozsnyak opened #44 "Java version not being synced within module"
If the `//JAVA` directive is given in the JBang script and sync action will not update the Language level in the specific module.

![image](https://user-images.githubusercontent.com/11406183/158188806-f9531f8a-193d-48cd-bd3d-746b7c55d103.png)
![image](https://user-images.githubusercontent.com/11406183/158188838-c7855c72-134d-4f62-8491-9cdbc784a245.png)

[2022-03-14 14:13] nandorholozsnyak opened #45 "External library name is always jbang"
After the jbang script is being syncronized it has the name `jbang` for the dependency collector thing, but if a multi module project is being used it could be a bit "annoying", is there any way to append the name of the module as a prefix for the dependency collector?

Original:
![image](https://user-images.githubusercontent.com/11406183/158190076-b8914c20-f4dd-4356-8e46-c12cb4079414.png)

Idea:

[2022-03-14 14:15] nandorholozsnyak commented on #18
I know the plugin has a cool create new JBang script window, but will the template selector implemented in the Module creation wizard too?
https://github.com/jbangdev/jbang-idea/issues/43

[2022-03-14 14:22] nandorholozsnyak opened #46 "Template initialization with property override"
JBang has been having templates for a while now, and a so called template property feature just got implemented a few weeks earlier, it means every template can have properties and these properties could be described, of course if a property is listed in the jbang-catalog it does not mean that the source files are using it, but it can be used and on initialization if they are having default values

[2022-03-14 14:34] nandorholozsnyak commented on #44
Sorry, it works, only the SDKs should be named after the Java version. Maybe out could be enhanced with a smarter resolution strategy. I have different Java versions from different vendors (temurin, coretto).

[2022-03-14 17:36] linux-china commented on #18
@nandorholozsnyak  IntelliJ IDEA 2022.1 has different UI and I will take a look and make a good design.

![image](https://user-images.githubusercontent.com/46711/158228965-426038d9-d3f8-4ccd-bbae-a796dc2573cb.png)

[2022-03-15 13:29] nandorholozsnyak commented on #42
Because of this:
https://github.com/jbangdev/jbang-idea/blob/main/src/main/kotlin/dev/jbang/idea/actions/SyncDependenciesAction.kt#L337

And this
https://github.com/jbangdev/jbang-idea/blob/main/src/main/kotlin/dev/jbang/idea/actions/SyncDependenciesAction.kt#L352

[2022-03-15 16:28] maxandersen commented on #42
Yeah that's just wrong. :)

[2022-03-21 20:46] nandorholozsnyak opened #50 "Install JBang executable if does not exist on the computer"
I just ran into the problem that if you do not have the JBang executable on your machine than the plugin is unable to work.

Is there any way that the plugin itself can install it? Maybe with a prompt to be 100% transparent with the user that it is missing and it will be downloaded and installed.

[2022-03-21 21:29] maxandersen commented on #50
yeah there are the portable install options.

windows/Powershell:

`iex "& { $(iwr https://ps.jbang.dev) } app setup"`

anything else:

`curl -Ls https://sh.jbang.dev | bash -s - app setup`

[2022-03-21 22:24] maxandersen commented on #45
would it not be more right to name it after the root file the classpath library was made?

[2022-03-22 07:28] nandorholozsnyak commented on #45
So you say if it has three files for example, App.java, AnotherApp.java and forexmaple TestApp.java, then should it be called App-jbang? It can work yeah, but what about the AnotherApp.java or maybe it could be named after the folder that contains all the files.

For me the module's name make sense to use, but I can imagine that it could/should be configurable. One module/folder can have multiple

[2022-03-25 00:14] maxandersen opened #52 "when build.gradle present cannot sync dependencies"
I have scripts in my project that has nothing to do with the build.gradle but jbang-idea insists on updating the build.gradle.

if build.gradle is present coudl provide the option to sync to build.gradle but it should still offer sync to module so once can work with the scripts dependencies without changing build.gradle.

[2022-04-04 19:50] linux-china commented on #45
Closed by 0.18.0

[2022-04-04 19:50] #45 closed

[2022-04-04 19:50] linux-china commented on #44
Closed by 0.18.0

[2022-04-04 19:50] #44 closed

[2022-04-04 20:53] maxandersen commented on #45
Fixed how @linux-china ?

[2022-04-04 20:56] maxandersen commented on #45
Ah it was done some weeks ago. Was looking for recent PRs and couldn't find jt :)

Still thinks this should be named per source file rather than per module but current behavior works for now.

[2022-04-17 08:07] #42 closed

[2022-04-24 16:25] quintesse opened #53 "Add options to set environment variables and working directory"
These would be very useful to have, especially the environment variables. Because otherwise the only option is to set them in your system before starting the IDEA which is not ideal.

[2022-04-24 19:11] quintesse opened #54 "//DEPS content assist only works on first item"
When you have a line like

[code]

And you put your cursor after org.slf4j:slf4j-simple:" and hit Ctrl+Space it shows suggestions for "io.javalin:javalin:", not "org.slf4j:slf4j-simple:".

[2022-04-24 19:14] quintesse opened #55 "Show more options for //DEPS assist"
I'm not sure what the current filters are for the //DEPS assist, but if you have a line like:

[code]

And hit Alt+Space at the end of that line it only seems to show the very latest version. I can understand that showing all versions might result in very long lists for some artifacts, but perhaps we can show the last 10-20 ones at least?

[2022-04-24 19:17] quintesse opened #56 "Specifying //JAVA shows wrong version in JBang panel"
If I specify `//JAVA 17` in the file but my default Java is 13 then the JBang panel in the IDE shows 13, not 17.

[2022-05-04 14:36] gastaldi opened #57 "Support invoking catalogs in the Run configuration"
When choosing which script to run, it should be possible to specify a catalog in a remote repository, akin to `jbang run catalog_publish@quarkusio`

![Screen-Shot-2022-04-28-at-21 45 30](https://user-images.githubusercontent.com/54133/166699882-997d35b5-7ceb-4d72-9cfc-eea410f43bcd.png)

[2022-05-08 22:21] linux-china commented on #57
@gastaldi  I can implement this feature, but I'm not sure that it's good solution or not. If you want to invoke remote catalog, and it's better to choose a command runner.  Now I use https://github.com/casey/just  and it's very simple.

[code]

[2022-05-08 22:50] gastaldi commented on #57
@linux-china thanks for the links. I'm afraid your solution doesn't seem so different from what JBang already offers, so I am not sure introducing a command runner would help here.

IMHO supporting catalogs in the JBang Run configuration is a more straightforward solution and would be really useful (at least for me :)).

[2022-05-08 22:56] linux-china commented on #56
Yes. it's a bug, and  I fixed it already.  Still a question here, it's some expensive to call jbang command line to refresh JBang script info when file modified, and you should click refresh button to refresh script info.  It is alike Maven refresh in IDEA, after pom.xml modified, and you should click refresh button by yourself.

[2022-05-08 23:10] linux-china commented on #57
@gastaldi Got. It's not hard and I have fixed it already.  Please install the attachment manually to try it.  If nothing wrong, and I will release a new version next week.

[jbang-idea-plugin-0.19.0.zip](https://github.com/jbangdev/jbang-idea/files/8647939/jbang-idea-plugin-0.19.0.zip)

[2022-05-08 23:20] linux-china commented on #55
Yes, the result list is from  ` fun suggestPrefix(groupId: String, artifactId: String,parameters: SearchParameters, consumer: Consumer<RepositoryArtifactData>)` in  DependencySearchService, and I will take a look.

[2022-05-08 23:55] gastaldi commented on #57
LGTM, it works! I think the "Script File" label might need to be renamed to something that says that you can use a catalog there?

[2022-05-09 00:50] linux-china commented on #53
Fixed. Now use `NAME=abcd` or `NAME="a b c d"`

![Snip20220508_118](https://user-images.githubusercontent.com/46711/167323208-7e5037c0-06ed-4849-95e8-2dfcb936b8e6.png)

[2022-05-09 01:03] linux-china commented on #54
I think one `//DEPS ` just for one dependency.  I will fix it.

[code]

[2022-05-09 10:02] quintesse commented on #53
Awesome!

[2022-05-09 10:03] quintesse commented on #54
Yeah, you can have more than one dependency on a single line and they can be either comma or space separated.

[2022-05-20 07:43] yanex opened #60 "Possibly invalid reference to 'NotUnderContentRootModuleInfo.project'"
Hello! I am a maintainer of the Kotlin IntelliJ IDEA plugin.
During the plugin refactoring, I found out that the JBang plugin uses the `NotUnderContentRootModuleInfo.project` method.

Here is the exact call site:
https://github.com/jbangdev/jbang-idea/blob/af96dbaf65d1fdf5a3c23f81e8f39b725dfdc5a0/src/main/kotlin/dev/jbang/idea/actions/CreateFromTemplateAction.kt#L71

I suppose using `NotUnderConte

[2022-05-27 19:27] nandorholozsnyak opened #61 "Support IDEA 2022.2 EAP"
New EAP version was released and the JBang plugin is not compatible with that.

Version: Build #IU-222.2680.4, built on May 25, 2022

![image](https://user-images.githubusercontent.com/11406183/170777473-db1fe8a0-272e-43f2-8c06-bbe92f1ede0d.png)

[2022-06-08 05:45] linux-china commented on #60
@yanex  thanks for your remind.  `NotUnderContentRootModuleInfo.project` was introduced by auto import, and I have fixed it already.

[2022-06-08 05:45] #60 closed

[2022-06-08 05:45] #57 closed

[2022-06-09 07:10] nandorholozsnyak commented on #61
Solved with https://github.com/jbangdev/jbang-idea/pull/63

[2022-06-09 07:10] #61 closed

[2022-06-10 10:06] fbricon commented on #18
I installed the plugin on IJ 2021.3, and saw I could create a JBang project, but after updating to 2022.1.2, I no longer see the possibility of creating a JBang project.

[2022-06-10 16:42] linux-china commented on #18
@fbricon  Yes, IntelliJ IDEA project wizard UI has been changed, and I will use new API for wizard UI.

[2022-07-23 07:49] Travisnv opened #65 "use private artifactory to sync deps to module"
Hi jbang members,

I've use jbang plugin for a while and cannot see any change I can configure private repo (artifactory with username and password) to sync //DEPS to module. The workaround I have right now is having a dummy project with proper maven // gradle settings to download libs to local repository than jbang idea plugin will pick them up from there.

Is there any change we can configure su

[2022-07-24 07:18] maxandersen commented on #65
If You have it configured it in your ~/.m2/Settings.xml it should use it.

If not that Is a bug.

[2022-07-26 06:32] Travisnv commented on #65
I think we have a bug here. Maven settings.xml is in place.

[2022-07-26 07:17] maxandersen commented on #65
Please open bug with example settings.xml that fail (replace secrets with bogus values) and a example of the .java file that fails for you. Thanks.

[2022-08-31 21:21] maddingo opened #66 "Plugin doesn't aknowledge JBANG_HOME"
sdkman installs jbang in $HOME/.sdkman/candidates/jbang/current and sets the environment variable JBANG_HOME to that directory. The plugin doesn't find the jang script

[2022-09-06 06:09] nandorholozsnyak opened #68 "Running JBang as a Scratch file will not set the Script file attribute properly"
**Bug description:**
I really like the IDEA's Scratch feature where devs can make different types of files and if it is a runnable thing, like a Java class than it could be ran as well.
When the JBang's shebang directive is configured then the IDEA recognizes it as a JBang script and we can see the shiny JBang icon to run the script, but it could not be run because the newly created **Run Configur

[2022-09-07 03:46] linux-china commented on #68
It's a bug caused by absolute path, and I fixed it.

![image](https://user-images.githubusercontent.com/46711/188784248-20133108-5692-4985-885c-3a178527cf35.png)

[2022-09-07 05:59] nandorholozsnyak commented on #68
Thank you

[2022-09-09 06:30] nandorholozsnyak commented on #68
Fixed in #69, thank you :)

[2022-09-09 06:30] #68 closed

[2022-09-26 01:06] #66 closed

[2022-10-19 09:36] AdityaPadhy opened #73 "cannot create jbang script in intellij idea"
I installed jbang with sdk man, by default it is installed in `~/.sdkman/candidates/jbang/current`

Than i installed jbang intellij idea plugin. I tried both community v2022.2.2 and ultimate v2022.2.1

Whenever i try to do file -> new -> jbang script, i get this error:
`Could not execute [~/.jbang/bin/jbang, template, list] with environment {NO_COLOR=true}. Error=2, No such file or directory`

Not

[2022-11-02 06:25] maxandersen commented on #73
Are you really seeing "~/.jbang/bin/jbang" in the error?

Asking as ~ should not be in there.

[2022-11-18 09:38] maciejwalkowiak opened #74 "Unable to create a JBang script from Intellij"
1. Created a new empty project in Intellij IDEA.
2. Selected the SDK for project:
![image](https://user-images.githubusercontent.com/1357927/202669216-49eae9df-abc3-4dfe-856e-041bf9a150a6.png)
3. Trying to create a new JBang script:
![image](https://user-images.githubusercontent.com/1357927/202669317-8dce7848-c96e-4339-8d66-cb33b0bb4e7e.png)
4. Getting following message:
![image](https://user-imag

[2022-11-19 04:08] ledinscak commented on #73
Same here, jbang installed by sdkman, working fine,
Bu same error when trying to create script in IDEA.
I get full path of my $HOME in error message by the way.

[2022-11-19 05:13] linux-china commented on #73
@ledinscak @AdityaPadhy  I added sdkman auto detection. Could you install attachment and have a test?

[jbang-idea-plugin-0.23.1.zip](https://github.com/jbangdev/jbang-idea/files/10046128/jbang-idea-plugin-0.23.1.zip)

[2022-11-19 10:16] maxandersen commented on #73
Got the pr/branch so can build it myself rather than running arbitrary zips?

And shouldn't need custom sdkman detection should we ? Should just search the PATH and it shouldn't matter what installed it ?

[2022-11-24 09:50] AdityaPadhy commented on #73
After installing the zip i have this error:

java.lang.NullPointerException
	at dev.jbang.idea.actions.CreateFromTemplateAction.actionPerformed(CreateFromTemplateAction.kt:68)
	at com.intellij.openapi.actionSystem.ex.ActionUtil.doPerformActionOrShowPopup(ActionUtil.java:315)
	at com.intellij.openapi.actionSystem.ex.ActionUtil.lambda$performActionDumbAwareWithCallbacks$4(ActionUtil.java:294)
	at co

[2022-11-24 10:38] linux-china commented on #73
@AdityaPadhy  Failed to execute `jbang init --template hello --force Demo.java`.   Could you see the `Init from JBang templates` dialog?   and what are your template name and Script name? Thanks.

[2022-11-24 12:21] maxandersen commented on #73
@linux-china can you push the proposed changes to a Pull request ? I think we really should simplify the jbang lookup to purely be in JBANG_HOME, PATH and ~/.jbang in that order and nothing else.

[2022-11-24 14:09] AdityaPadhy commented on #73
should be there a setting just like maven home in intellij preferences, it should be easy to override as per need.

[2022-11-24 18:45] maxandersen commented on #73
Yes. That too. My point is that we should make it pick up "safe jbang" locations so it will just work for most cases but shouldn't be trying to guess which if possible multiple jbang sdkman installations user wants to use.

[2022-11-25 00:43] linux-china commented on #73
Now the plugin supports  JBANG_HOME env variable, and you can set up JBang install directory. Please refer https://github.com/jbangdev/jbang-idea/issues/66

[2022-11-25 00:48] linux-china commented on #74
I should add project's Java SDK as JAVA_HOME to run jbang command.

[code]

[2022-11-25 10:02] linux-china commented on #74
@maxandersen  I think JBang will download Java runtime automatically even no JDK detected.   I'm right?